/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

:root {
    --cor-preto: #000000;
    --cor-roxo-forte: #3E008F;
    --cor-roxo-escuro1: #220566;
    --cor-roxo-escuro2: #1E003D;
    --cor-branca: #ffffff;
    --cor-branco2: #F6F9FF;
    --cor-cinza-medio: #9898AF;
    --cor-branco3: #F2F6FF;
    --cor-cinza-escuro2: #E1E1EB;
    --cor-cinza-escuro3: #7D7D7D;

    --borda: 1px solid var(--cor-cinza-medio);
    --borda-arredondada: 5px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;

}

@font-face {
    font-family: Billabong;
    src: url(../fonts/Billabong/billabong.ttf),
        url(../fonts/Billabong/billabong_regular.otf);
}


/* SELETOR GLOBAL */
* {
    font-family: "Segoe UI", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* o valor total do tamanho do elemento conta tanto com espaços interno/externo e as bordas*/
    outline-color: var(--cor-roxo-forte);
}

body {
    background-color: var(--cor-branco3);
}

h1 {
    position: absolute; /*altera a posição do elemento*/
    z-index: -1; /*camadas do elemento*/
    opacity: 0; 
}

/* formulario */

.estilo-formulario {
    border: var(--borda);
    width: 100%;
    background-color: var(--cor-branca);
}

input{
    width: 100%;
    height: 35px;
    border: var(--borda);
    background-color: var(--cor-cinza-claro);
}

.formulario-botao-roxo{
    background-color: var(--cor-roxo-forte);
    border-radius: var(--borda-arredondada); /*arredonda os cantos do elementos*/
    border: none; /*removendo a bordar*/
    height: 35px;
    color: var(--cor-branca);
    font-size: var(--tamanho-fonte-sm);
    font-weight: 600;
}

#campo-upload{
    display: none;
}

#texto-upload{
    display: inline-block;
    background-color:  var(--cor-cinza-medio);  
    min-height: 35px;
    width: 100%;
    max-width: 300px;
    color: var(--cor-preto);
    padding: 5px;
    text-align: center;
    border-radius: var(--borda-arredondada);
}

    /* Cabeçalho */
#cabecalho{
    background-color: var(--cor-cinza-escuro2);
    border-bottom: var(--borda);
    width: 100%; /*100% da hanela de visualização*/
    height: 80px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#cabecalho > nav{
    width: 90%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-mobile{
    display: none; /*remove a exibição da imagem*/
}

.cabecalho-acoes{
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.cabecalho-acoes > a{
    display: flex;
    align-items: center;
}

.foto-perfil{
    width: 40px;
    height: 40px;
    object-fit: cover; /*redimencionar a foto*/
    object-position: center;
    border-radius: 50%;
}


/* RESPONSIVO */
@media only screen and (max-width: 485px) {
    #logo-mobile{
        display: initial; /*Volta o valor inicial de exibição*/
    }

    #logo-desktop{
        display: none;
    }
}