main {
    width: 100%;
    min-height: 100vh;
    /*Altura da janela do meu dispositivo*/
    
    display: flex;
    align-items: center;
    /*alinha no sentindo ao contrario do flex*/
    justify-content: center;
    /*alinha no sentindo do flex*/
}

main>div {
    width: 90%;
    display: flex;
    /*ativa o flex*/
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

/* formulário */
#formulario {
    /* height: 300px; */
    /* background-color: brown; */
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 3%;
    gap: 15px;
}

#secao-cadastro {
    height: 60px;
    display: flex; /*por padrão coloca os elementos um do lado do outro (Horizontal)*/
    justify-content: center; 
    align-items: center;
}



.estilo-formulario {
    max-width: 340px;
}

#formulario > div{
    width: 100%;
}

#formulario > div > label{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-escuro2);
    font-weight: 500;
    padding-bottom: 4px;
}

.formulario-botao-roxo{
    width: 100%;
}

#formulario > p{
    text-transform: uppercase;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-escuro1); /*Transforma o texto em maiusculo*/
}

#formulario > a, #secao-cadastro > p > a{
    text-decoration: none;
    color: var(--cor-roxo-forte);
}

#secao-cadastro > p{
    font-size: var(--tamanho-fonte-md);
}

.informacao-aplicativo {
    background-color: var(--borda);
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    font-weight: 400;
}

#secao-instalacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /*espaços em linhas e colunas*/
}

#secao-instalacao img {
    width: 120px;
    height: 39px;
}